<ion-view title="Client Controls" id="page2" style="background-color:#2F33EB;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-positive icon ion-ios-home" ng-click="location.url('/start')"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <button class="button button-positive button-large button-block icon-left ion-ios-barcode" ng-click="location.url('generateCode')">Get Personal Code</button>
    <button class="button button-positive button-large button-block icon-left ion-android-restaurant">Get Food Menu</button>
    <button class="button button-positive button-large button-block icon-left ion-android-bar">Get Alcohol Menu</button>
    <button class="button button-positive button-large button-block icon-left ion-social-bitcoin">Get bill</button>
    <button class="button button-positive button-large button-block icon-left ion-ios-bell">Call steward</button>
  </ion-content>
</ion-view>