<ion-view title="Steward Controls" id="page3" style="background-color:#2F33EB;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-positive icon ion-ios-home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <button id="stewardControls-button10" style="border-radius:12px 12px 12px 12px;" class="button button-positive button-large button-block icon-left ion-android-notifications-off">Accept call</button>
    <button id="stewardControls-button11" style="border-radius:12px 12px 12px 12px;" class="button button-positive button-large button-block icon-left ion-android-checkmark-circle">Provide table number</button>
    <button id="stewardControls-button12" style="border-radius:12px 12px 12px 12px;" class="button button-positive button-large button-block icon-left ion-close">Close table</button>
  </ion-content>
</ion-view>